input {
  background: rgba(237, 237, 237, 0.7);
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 12px;
  color: #000000;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
input:active,
input:focus {
  outline: none;
  caret-color: #000000;
}
input:hover {
  background-color: #ededed;
}

.input_error {
  background: rgba(219, 57, 57, 0.3);
}
.input_helper_text {
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  color: #db3939;
  margin-left: 10px;
}
