.button {
  padding: 10px 80.5px;
  background-color: #f5c678;
  box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #f5c678;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.button:active {
  box-shadow: rgba(245, 198, 120, 0.7);
}
